<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ block "title" . }}{{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} - {{ .Site.Title }} {{ end }}{{ end }}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="referrer" content="no-referrer">
    <meta name="description" content="{{ .Description | default .Site.Params.description }}" />
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    <link rel="canonical" href="{{ .Permalink }}">
    
    {{ $bootstrap := resources.Get "css/bootstrap.min.css" | fingerprint }}<link rel="stylesheet" href="{{ $bootstrap.RelPermalink }}" />
    {{ $custom := resources.Get "css/custom.css" | minify | fingerprint }}<link rel="stylesheet" href="{{ $custom.RelPermalink }}" />

    <link rel="shortcut icon"
        href="{{ if .Site.Params.faviconfile }}{{ .Site.Params.faviconfile }}{{ else }}{{ .Site.BaseURL }}img/favicon.ico{{ end }}">

    {{ if .Site.RSSLink }}
        <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
</head>

<body>
    {{ block "main" . }}{{ end }}
    {{ template "_internal/google_analytics.html" . }}
</body>

</html>
